
.card2 {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.5);
    color: white;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.card2:hover {
    transform: translateY(-5px);
}

.card2 img {
    width: 40%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 100px;
    transition: transform 0.3s ease-in-out;
}

.card2 img:hover {
    transform: scale(1.1);
}

.card2 p {
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 25px;
}

.card2 h3 {
    padding-top: 10px;
    font-size: 14px;
}

.card2 a {
    display: inline-block;
    padding: 3px 8px; 
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px; 
    background-color: #ffc107;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    font-size: 12px; 
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 40px;
    transition: background-color 0.3s ease-in-out;
}

.card2 a:hover {
    background-color: #ff8c00;
}

.mysection {
    margin-bottom: 50px;
    text-decoration: bold;
    font-size: 60px;
    font-weight: 800;
    transition: transform 0.3s ease-in-out;
}

.mysection:hover {
    transform: scale(1.05);
}


